<html>
<head>
<title>Log Issue Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link href="/assets/style.css" type="text/css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/logics.js"></script>
<body>
  <h1>You are logged in as <%= username %></h1>
  <div id="wrapper">
  <div class="form_div">
  <p class="form_label">Submit faults</p>
  <form method="POST" name="reportForm" id ="reportForm" action="" enctype="multipart/form-data">
  <p><input type="text" id="title1" placeholder="Enter Title *" required></p>
  <p><input type="text" id="location1" placeholder="Location *" required></p>
  <p><input type="text" id="text1" placeholder="Description"></p>
  <strong>Upload Image :</strong>
  <input type="file" id='imageFiles' accept="image/*" name="myimage" required/>
  <p><input type="submit" value="Submit Fault"></p>
  </form>
  </div>
  <form align="middle" name="form3" method="POST" action="/logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit3" value="Log Out">
  </label>
  </form>
</form>
</div>
</body>
</head>
</html>
