
<html>
<head>
<title>SME Registration Page</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link href="/assets/style.css" type="text/css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/logics.js"></script>
<body>
  <h1>Welcome SME User <%= username %></h1>
  <div id="wrapper">
  <div class="form_div">
  <p class="form_label">Submit Company Info</p>
  <form method="POST" name="smeForm" id ="smeForm" action="" enctype="multipart/form-data">
  <p><input type="text" id="email" value = <%= email %> disabled></p>
  <p><input type="text" id="companyname" placeholder="Enter Company Name *" required></p>
  <p><input type="text" id="location1" placeholder="Location *" required></p>
  <p><input type="text" id="postal" placeholder="Postal" required></p>
  <p style="color:white">Date Of Inception: <input type="date" id="foundingdate" required></p>
  <p><input type="text" id="capital" placeholder="Capital" required></p>
  <p><input type="text" id="userposition" placeholder="Position In Company" required></p>
  <strong>Upload Annual Report (Jpg):</strong>
  <!-- Maybe multiple documents -->
  <input type="file" id='annualReport' accept="image/*" name="myimage" required multiple/>
  <p><input type="submit" value="Submit Form"></p>
  </form>
  </div>
  <form align="middle" name="form3" method="POST" action = '/logout' >
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit3" value="Back">
  </label>
  </form>
</form>
</div>
</body>
</head>
</html>
