<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link href="/assets/style.css" type="text/css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta http-equiv="refresh" content="5;url=localhost:3000/login" />
</head>
<body>
<h1> Error Page </h1>
<div id="wrapper">
<p> User not Authenticated. Please log in first ! Redirect back to login page in 5 seconds </p>
<a href="/login">Back</a>
</div>
